<%= form_for(artwork, html: { multipart: true }) do |f| %>
  <% if artwork.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(artwork.errors.count, "error") %> prohibited this artwork from being saved:
      </h2>

      <ul class="default">
        <% artwork.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <% if artwork.persisted? %>
      <%= image_tag artwork.image.url(:thumb) %>
    <% end %>

    <%= f.label :image,
                (artwork.persisted? ? 'Change Image' : 'Choose Image') %>
    <%= f.file_field :image %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :medium_list do %>
      Media <small>(Comma-separated)</small>
    <% end %>
    <%= f.text_field :medium_list, value: artwork.medium_list.join(', ') %>
  </div>

  <div class="field">
    <%= f.label :available %>
    <%= f.check_box :available %>
  </div>

  <div class="field">
    <%= f.label :price %>
    <%= f.text_field :price %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
