<h1><%= @artwork.name %></h1>

<p id="notice"><%= notice %></p>

<%= image_tag @artwork.image.url(:thumb) %>

<p>
  <strong>Available:</strong>
  <%= @artwork.available %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency @artwork.price %>
</p>

<%= link_to 'Edit', edit_artwork_path(@artwork) %> |
<%= link_to 'Back', artworks_path %>
