<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @artwork.name %>
</p>

<p>
  <strong>Available:</strong>
  <%= @artwork.available %>
</p>

<p>
  <strong>Price:</strong>
  <%= @artwork.price %>
</p>

<%= link_to 'Edit', edit_artwork_path(@artwork) %> |
<%= link_to 'Back', artworks_path %>
