<!DOCTYPE html>
<html>
  <head>
    <title><%= t('site_title') %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="page-header">
      <h1>
        <%= link_to t('site_title'), artworks_url %>
      </h1>
    </div>
    <%= yield %>
  </body>
</html>
